* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

:root {
  --blueHifi: #33346d;
  --blueHifi1: #000148;
  --blueHifi2: #666791;
  --lightGrey: #d9d9d9;
  --blackIsh: #1b1b1b;
  --softLavender-blue: #867cff;
  --mediumDarkGray: #505050;
  --steelGray: #585858;
  --charcoalGranite: rgba(59, 59, 59, 0.35);
  --darkGraphiteGray: #262626;
  --darkCharcoalGray: #272727;
  --ebonyCharcoal: #181818;
  --midnightCoal: #0d0d0d;
  --translucentCharcoal: rgba(41, 41, 41, 0.8);

  --poppins: "Poppins", sans-serif;
  --rubik: "Rubik", sans-serif;

  --regular: 400;
  --bold: 500;
}

.image {
  width: 24px;
  height: 24px;
}
label {
  font-size: 1rem;
  color: var(--darkCharcoalGray);
}

body {
  height: 100vh;
}

main {
  margin: 0 auto;
  width: 100%;
  padding: 1.7rem;
}

main h1 {
  font-size: 2rem;
  font-weight: var(--bold);
  color: var(--ebonyCharcoal);
  margin-top: 0.5rem;
}

input[type="email"],
input[type="password"] {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 0.9rem;
  border-radius: 0.75rem;
  border: 1px solid var(--charcoalGranite);
  outline: none;
}

input[type="email"] {
  margin-bottom: 2rem;
}

.details {
  width: 100%;
  margin-top: 1rem;
}

.pwdText-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.pwdText-wrapper label {
  width: 50%;
}

.pwd-hide {
  display: inline-flex;
  max-width: 100%;
  color: var(--translucentCharcoal);
  font-size: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  color: var(--midnightCoal);
  font-size: 1rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 3rem;
  gap: 0.5rem;
}

.loginbtn-label,
.dontHaveAcct {
  color: var(--blueHifi2);
}
.loginbtn-label a,
.dontHaveAcct a {
  color: var(--softLavender-blue);
}

.login-btn {
  background-color: var(--blueHifi1);
  opacity: 30%;
  color: white;
  padding: 0.7rem;
  width: 100%;
  border: none;
  border-radius: 32px;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: var(--bold);
}

.login-btn:hover {
  background-color: var(--blueHifi1);
  opacity: 0.8;
}

.account-actions {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 0;
  gap: 0.5rem;
}

.forgotPwd a {
  color: var(--steelGray);
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem auto;
  padding-top: 1rem;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--steelGray);
  font-size: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.divider div {
  width: 25%;
  height: 2px;
  background-color: var(--darkGraphiteGray);
  opacity: 25%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials div {
  width: 20%;
  max-width: 25%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/*... MEDIA QUERIES... */

@media screen and (min-width: 900px) {
  main {
    width: 40%;
    max-width: 1440px;
  }

  main h1 {
    margin-top: 2rem;
  }
}
