* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

:root {
  --blue:#001e4d;
  --border-bottom: #333;
  --white: #fff;
  --drk-blu: #00000E8C;
  --rating: #00001D;
  --watchlist-bgd: #00000E;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

.landing-page {
  width: 100%;
}

/* .................... */
/* HERO BANNER STYLINGS */
/* .................... */

.hero-banner {
  cursor: pointer;
}

.hero-banner .living-in-bondage {
  position: relative;
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.vector-hero {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  height: 66px;
  top: 159px;
  padding: 0px 15px;
}

.play {
  position: absolute;
  display: flex;
  align-items: center;
  width: 353px;
  height: 64px;
  top: 358px;
  left: 290px;
  gap: 11px;
}

.vector-play {
  width: 84px;
  height: 64px;
}

.bondage-text {
  color: var(--white);
  width: 278px;
  height: 57px;
}

.bondage-text-one {
  width: 278px;
  height: 39px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4206rem;
}

.bondage-text-two {
  width: 160px;
  height: 18px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1344rem;
}

.living-overlay {
  position: absolute;
  object-fit: cover;
  top: 235px;
  left: 120px;
  height: 187px;
  width: 156px;
  border-radius: 10px;
}

.watch {
  position: absolute;
  top: 235px;
  left: 120px;
  height: 55px;
  width: 55px;
}


/* .................... */
/* BLOCK 1 STYLINGS */
/* .................... */

.block-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1440px;
  height: 86px
}

.block-1 > p {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8156rem;
  margin: 29px 29px 25px 104px;
}

.btn-group  {
  border: 1px solid black;
  background-color: var(--white);
  width: 574px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 33px;
}

.btn-group > .button {
  width: 150px;
  border-radius: 24px;
  background-color: var(--white);
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.btn-group > .button:hover {
background-color: black;
color: var(--white);
}

/* .................. */
/* BLOCK 2 STYLING */
/* .................. */

.block-2 {
  width: 100%;
  height: 480px;
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
  height: 424px;
  margin: auto;
  margin-left: 40px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.movie-card > div .nneka {
  position: relative;
  width: 310px;
}

/* Exclude */
.exclude {
  position: absolute;
  width: 100px;
  height: 17px;
  top: 590px;
  left: 19%;
}

#exclude {
  left: 42.8%;
}

#exclude2 {
  left: 66.7%;
}

#exclude3 {
  left: 90.6%;
}

/* Rating */

.rating  {
  position: absolute;
  display: flex;
  border: 2px solid greenyellow;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  top: 940px;
  left: 6%;
  color: var(--white);
  background-color: var(--rating);
}

.rating > p {
  font-size: 0.9375rem;
  font-weight: 25rem;
}

#rating-2 {
  left: 30.5%;
}

#rating-3 {
  left: 54.4%;
}

#rating-4 {
  left: 78.4%;
}

.movie-card > .party-serpent {
  width: 235px;
  height: 51px;
  margin-top: 30px;
  margin-left: 20px;
}

.movie-card > .party-serpent > p {
  padding: 1px;
}

/* ............... */
/* BLOCK 3 STYLING */
/* ............... */

.block-3 {
  background-color: var(--watchlist-bgd);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 539px;
}

.block-3 > .your-watchlist {
  margin-top: 69px;
  margin-left: 73px;
  width: 414px;
  height: 52px;
}

.block-3 .watchlist-text-one {
  width: 169px;
  height: 29px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
}

.block-3 .watchlist-text-two {
  width: 414px;
  height: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
}

.block-3 > .watchlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 300px;
  gap: 20px;
}

.block-3 > .watchlist > div >  p {
  text-align: center;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1344rem;
}

.block-3 > .watchlist > button {
  width: 275px;
  height: 49px;
  border-radius: 8px;
  background-color: #666791;
  color: var(--white);
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1.6rem;
}

/* ............... */
/* BLOCK 4 STYLING */
/* ............... */

.block-4 {
  width: 1440px;
  height: 86px;
  display: flex;
  align-items: center;
}

.block-4 .block-top {
  display: flex;
  gap: 10px;
  margin-left: 74px;
}

.top-rated-text {
  width: 118px;
  height: 29px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8156rem;
}

.btn-group-5  {
  width: 417px;
  height: 32px;
  display: flex;
  gap: 18px;
}

.btn-group-5 > .btn-top-3 {
  border: 1px solid black;
  width: 103px;
  height: 32px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1344rem;
  border-radius: 24px;
}

.btn-group-5 > .btn-top-5, .btn-top-10 {
  border: 1px solid black;
  width: 139px;
  height: 32px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1344rem;
  border-radius: 24px;
}

.btn-group-5 > #button:hover {
  background-color: black;
  color: var(--white);
}

/* ............... */
/* BLOCK 5 
TOP RATED STYLING */
/* ............... */

.block-5 {
  width: 100%;
  height: 549px;
}

.frame-5 {
  display: flex;
  width: 100%;
  height: 501px;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.frame-5 > .movie-card-top-rated {
  width: 298px;
  height: 501px;
  color: var(--white);
  border-radius: 20px;
  background: linear-gradient(180deg, white 50%, black 50%);
}


.frame-5 .movie-card-bottom {
  display: flex;
  flex-direction: column;
  height: 155px;
  justify-content: space-around;
  /* align-items: center; */
}

.frame-5 .movie-card-bottom .vector {
  display: flex;
  width: 261px;
  height: 33px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
}

.frame-5 .movie-card-bottom .vector-pink {
  width: 57px;
  height: 33px;
  text-align: center;
  border-radius: 7px;
}

.frame-5 .movie-card-bottom .nolly-text {
  position: relative;
  width: 225px;
  height: 29px;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  margin-left: 17px;
  padding-top: 5px;
}

.frame-5 .movie-card-bottom .nolly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 268px;
  height: 38px;
  margin-left: 15px;
}

.frame-5 .movie-card-bottom .vector-all {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 128px;
  height: 38px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1344rem;
}

/* ............... */
/* BLOCK 6 STYLING */
/* ............... */

.block-6 {
  width: 1440px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-6 .new-release-text {
  width: 164px;
  height: 29px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8156rem;
  margin-left: 73px;
}

.block-6 .view-more-text {
  margin-right: 73px;
}

/* ............................. */
/* BLOCK 7 / NEW RELEASE STYLING */
/* ............................. */

.block-7 {
  width: 100%;
  height: 665px;
}

.frame-7 {
  width: 100%;
  height: 566px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.frame-7 > .movie-card-new-release {
  width: 300px;
  height: 566px;
  color: var(--white);
  border-radius: 20px;
  background: linear-gradient(180deg, white 50%, black 50%);
}


.frame-7 .movie-card-bottom {
  display: flex;
  flex-direction: column;
  width: 262;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.frame-7 .movie-card-bottom .vector {
  display: flex;
  width: 261px;
  height: 33px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frame-7 .movie-card-bottom .vector-pink {
  width: 57px;
  height: 33px;
  text-align: center;
  border-radius: 7px;
}

.frame-7 .movie-card-bottom .trade-text {
  width: 154px;
  height: 29px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8156rem;
  text-align: center;
}

.frame-7 .movie-card-bottom .trade-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 169px;
  height: 38px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1344rem;
}

.frame-7 .movie-card-bottom .watch-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 175px;
  height: 46px;
  border-radius: 7px;
}

.frame-7 .movie-card-bottom .span-text {
  width: 118px;
  height: 26px;
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1.6rem;
}

.block-8 {
  margin: 0;
}

.frame-8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 86px;
}

.btn-group-8  {
  width: 386px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-group-8 > .button {
  width: 46px;
  height: 46px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn-group-8 > .button:hover {
  background-color: #DC03FF;
  color: white;
}

.btn-group-8 .arrow {
  margin-right: 15px;
}

.btn-group-8 .arrow-1 {
  margin-left: 15px;
}